<p class ="Home-title"> You have to be signed-in to start managing your todos.</p>

<h3 class= "Home-authenticate">
   <p class="Home-authenticate-Message"> New to the todo-manager ? </p>
   <%= link_to "Sign-up for a new account", new_user_path %>
</h3>

<h3 class= "Home-authenticate">
    <p class="Home-authenticate-Message" > Already have an account ? </p>
    <%= link_to "Sign-in", new_sessions_path %>
</h3>
