.Home-title{
  font-size:20px;
  margin-bottom: 30px;
}

.Home-authenticate{
  font-size: 16px;
  margin-bottom: 20px;
}

.UserHeader{
  padding: 10px;
  background-color: lightgrey;
  font-size: 14px;
  display: flex;
  justify-content:  space-between;
}

.Flash-error{
  color: red;
  margin-top:20px;
  margin-bottom:20px;
  font-size:16px;
}
