.Home-title{
  font-size:20px;
  margin-bottom: 30px;
}

.Home-authenticate{
  font-size: 16px;
  margin-bottom: 20px;
}

.UserHeader{
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  justify-content:  space-between;
}

.Flash-error{
  color: red;
  margin-top:20px;
  margin-bottom:20px;
  font-size:16px;
}

.UserHeader-title{
  color:grey;
  text-decoration: none;
}
.UserHeader-title:hover{
  color:black;
}

.UserInfo{
  display: flex;
}

.UserFirst-name{
  margin-right:10px;
}

.Navbar{
  color:rgba(233, 225, 225, 0.46);
}
